h2{background-color: yellow;
}

header{
background-color: red;
height: 150px;
width: 100%;



}
nav{

background-color: green;
height: 50px;
width: 100%;

}

main{

background-color: blue;
height: 300px;
width: 65%;
}

aside{

background-color: brown;
height: 300px;
width: 35%;
}

footer{
background-color: orange;
height: 200px;
width: 100%;

}

#mainaside{
display:flex;

}

#wrapper{
width:100%;
margin-left: auto;
margin-right: auto;

}
@media only screen and (max-width: 600px) {
    #mainaside{
      display: flex;
      flex-direction: column;

    }
    main{
      width:100%;
    }
    aside{
      width:100%;
    }

}
