

body{
background-color: #b0a178;


}

header{
display:flex;
background-color:#4a473e;
height: 100px;
width: auto;
border-style:double;
border-width: thick;
border-color:black;
margin-bottom: 20px;
font-size:50px;
font-family: 'ubuntu';
align-items: center;

}

#headerinfo{
display:flex;
justify-content:space-around;
width:100%;
}


nav{

background-color:#4a473e;
height:450px;
width:15%;
border-style:double;
border-width: thick;
border-color: black;
display:column;

}

a:link{
text-decoration-line: none;

}

h2{
font-family:'Roboto';
text-align:center;
}

p{
font-family: 'Roboto';
margin-left:10px;
}


#text1{
background-color:white;
height:100%auto;
width:30%;
border-style:double;
border-width:thick;
border-color: black;
margin-left:4%
}

#källor{

background-color:#4a473e;
height:100%auto;
width:15%;
border-style:double;
border-width: thick;
border-color: black;
display:column;
margin-left:3%;
font-size: 20px;
font-family: 'ubuntu';
text-align:center;

}



#helanav{
display:flex;
width:100%;

}

#bild1{
display:flex;
background-color:white;
height:450px;
width:30%;
border-style: double;
border-width:thick;
border-color: black;
margin-left: 3%;
align-items: center;

}



#wrapper{
width:100%;
margin-left: auto;
margin-right: auto;

}

#mainwrapperwhole{
display:flex;
height:50%;
width:100%;

}

#insidehead{
height:90%;
width: 95%;
background-color: black;
color: white;
border-style: solid;
border-width:5% 5% 5% ;
border-color: grey;


}

#linkmain{

font-size: 20px;
font-family: 'ubuntu';
text-align:center;
}


#start1{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;

}
#start1:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#chassi1{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#chassi1:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#cpu1{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#cpu1:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#gpu1{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#gpu1:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#ram1{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#ram1:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#nätaggregat1{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#nätaggregat1:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#moderkort1{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#moderkort1:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#grafikkort1{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#grafikkort1:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}


#mainwrapper1{
  height:100%;
  width:50%;
  background-color: white;

}

#mainwrapper2{
background-color: purple;
height:100%;
width:50%;
}

#mainwrapper3{
background-color: yellow;
height:50%;
width:100%;
}

#kchassi{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#kchassi:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#kcpu{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#kcpu:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#kgpu{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#kgpu:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#kram{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#kram:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#knätaggregat{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#knätaggregat:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#kmoderkort{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#kmoderkort:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#kgrafikkort{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#kgrafikkort:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}

#humor{
height: 55%;
width: 80%;
background-color:black;
margin-right: 20px;
margin-left:11%;
margin-top:15.5%;
border-radius:80px;
transition:0.2s;
}

#humor:hover{
width:90%;
height:100%;
margin-left:6%;
font-size: 22px;
margin-top:15%;
color:#ef63ff;
}
