
@font-face {
  font-family: 'MyWebFont';
  src: url('bignoodletoo.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('bignoodletoo.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body,html{
  height:100%;
  margin:0px;
  text-align:center;
}

footer{
  height:auto;
  background-color: #43484c;
  border-top: solid black 5px;
  font-size: 20px;
  font-family: 'MyWebFont';
  color: white;
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.hanamura{
  position: fixed;
  height:100%;
  width:100%;
  opacity: 0;
  left:0;
}
.segment1{
  background: url(../imgsecond/keepittoyourself_1000.png);
  height: 100%;

}
.segment2{
  background: url(../imgsecond/gifashe.gif);
  height: 80%;
}
.segment3{
  background: url(../imgsecond/keepittoyourself_1200.png);
  height: 80%;
}
.classSelection{
  background: url(../imgsecond/eich2.jpg);
  height:100%;
  width: auto;
  display:flex;
  background-repeat:no-repeat;
  background-size:cover;
  font-size: 80px;
}
h1,p{
  margin: 0;
  padding:10px;
}
section{
  height:auto;
  background-color: #43484c;
  font-size: 20px;
  font-family: 'MyWebFont';
  color: white;
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
}

#videoSelection{
  height:350%;
  z-index: 1;
}
.role{
  width:100%;
  height:10%;
  margin: 0;
  font-size: 80px;
  font-family: 'MyWebFont';
  color: white;
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
}

#tank{
  height:33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#damage{
  height:33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#support{
  height:33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.videos{
  height:40%;
  width: 40%;
  border: solid black 5px;
}
.container{
  height:100%;
  width: 100%;
  justify-content: space-evenly;
  font-family: 'MyWebFont';
  color: white;
  letter-spacing: 3px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: none;
}

.ltank{
  margin-top: auto;
  margin-bottom: auto;
  height:50%;
  width:100%;
  transition: 0.5s;
  font-family: 'MyWebFont';
}

.ltank:hover{
  height:60%;
  transition: 0.5s;
  cursor: pointer;
  font-size: 96px;
}

.images{
  height:100%;
  margin-top: -20%;
  width:auto;
}

h3{
  margin-top: -50px;
  margin-bottom: 130px;
  width:auto;
}

.segment1,.segment2,.segment3,#videoSelection{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
img.stikd {
  position: sticky;
  top: 33%;
  margin-bottom:10px;
}

#background{
  position: fixed;
  height:100%;
  width:100%;
  z-index: -100;
  background: url(../img/frame_54_delay-0.1s.gif);
  background-repeat:no-repeat;
  background-size:cover;
}

@media only screen and (max-width: 400px) {

  .classSelection{
    height:200%;
    font-size: 70px;

  }

  .container{
    justify-content: flex-start;
    flex-direction:column;

  }

  .ltank{
    height:20%;
  }
  .ltank:hover{
    height:20%;
    font-size: 70px;
  }
  footer{
    height:28%;
  }
  h2{
    margin: 0;
  }
  .role{
    font-size: 60px;
  }

  #klp3,#klp4,#klp7,#klp8,#klp11,#klp12{
    display: none;
  }
  .videos{
    width: 80%;
  }
  #support,#damage,#tank{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

}
