
@font-face {
  font-family: 'MyWebFont';
  src: url('bignoodletoo.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('bignoodletoo.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body,html{
  height:100%;
  margin:0px;
  text-align:center;
}

footer{
  height:auto;
  background-color: #43484c;
  border-top: solid black 5px;
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
}

.hanamura{
  position: fixed;
  height:100%;
  width:100%;
  opacity: 0;
  left:0;
}
.segment1{
  background: url(../imgsecond/keepittoyourself_1000.png);
  height: 100%;

}
.segment2{
  background: url(../imgsecond/gifashe.gif);
  height: 80%;
}
.segment3{
  background: url(../imgsecond/keepittoyourself_1200.png);
  height: 80%;
}
.classSelection{
  background: url(../imgsecond/eich2.jpg);
  height:100%;
  width: auto;
  display:flex;
  background-repeat:no-repeat;
  background-size:cover;
  font-size: 80px;
}
h1,h2{
  margin: 0;
  padding:10px;
}
h2{
  font-size: 60px;
  font-family: 'MyWebFont';
}
p{
  font-size: 40px;
  margin: 0;
  padding:10px;
  font-family: "Roboto" ,Helvetica ,Arial,sans-serif;
  letter-spacing: 0px;
}
section{
  height:auto;
  background-color: #43484c;
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  border-top: solid black 5px;
  border-bottom: solid black 5px;
}

#videoSelection{
  height:350%;
  z-index: 1;
}
.role{
  width:100%;
  height:10%;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: 'MyWebFont';
  color: white;
  letter-spacing: 3px;

  border-top: solid black 5px;
  border-bottom: solid black 5px;
}
.role > div{
  height: 80%;
  width:4.8%;
}
.ba{
  height: 100%;
  width: 100%;
  background: url(../imgsecond/css_sprites.png) no-repeat;
  background-size: 100% 300%;
}
.ba1{
  background-position: 0 100%;
}
.ba2{
  background-position: 0 0;
}
.ba3{
  background-position: 0 50%;
}

#tank{
  height:33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#damage{
  height:33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#support{
  height:33%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.videos{
  height:40%;
  width: 40%;
  border: solid black 5px;
}
.container{
  height:100%;
  width: 100%;
  font-family: 'MyWebFont';
  color: white;
  letter-spacing: 3px;

  display: none;
}

.ltank{
  margin-top: auto;
  margin-bottom: auto;
  height:50%;
  width:100%;
  transition: 0.5s;
  font-family: 'MyWebFont';
}

.ltank:hover{
  height:60%;
  transition: 0.5s;
  cursor: pointer;
  font-size: 96px;
}

.images{
  height:100%;
  margin-top: -20%;
  width:auto;
}

h3{
  margin-top: -50px;
  margin-bottom: 130px;
  width:auto;
  font-family: 'MyWebFont';
}

.segment1,.segment2,.segment3,#videoSelection{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
img.stikd {
  position: sticky;
  top: 33%;
  margin-bottom:10px;
}

#background{
  position: fixed;
  height:100%;
  width:100%;
  z-index: -100;
  background: url(../img/frame_54_delay-0.1s.gif);
  background-repeat:no-repeat;
  background-size:cover;
}

.form-control{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit{
  width: 50%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
label{
  font-size: 30px;
  font-family: "Roboto" ,Helvetica ,Arial,sans-serif;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
  font-family: 'MyWebFont';
  min-width: 400px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #fa9c1d;
  color: #ffffff;
  text-align: center;

}
.styled-table tr{
  background-color: #ffffff;
}
.styled-table th,
.styled-table td {
  padding: 15px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #fa9c1d;
}

@media only screen and (max-width: 400px) {

  .classSelection{
    height:200%;
    font-size: 70px;

  }

  .container{
    justify-content: flex-start;
    flex-direction:column;

  }

  .ltank{
    height:20%;
  }
  .ltank:hover{
    height:20%;
    font-size: 70px;
  }
  footer{
    height:auto;
  }
  h2{
    margin: 0;
    font-size: 40px;
  }
  p{
    font-size: 30px;
  }
  .role{
    font-size: 40px;
  }
  .role > div{
    width:16%
  }
  #klp3,#klp4,#klp7,#klp8,#klp11,#klp12{
    display: none;
  }
  .videos{
    width: 80%;
  }
  #support,#damage,#tank{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

}
