html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
	top:0;
	bottom:0;
	margin:0px;
	background-color: #2F3136;
	font-family: arial,sans-serif-light,sans-serif
}
#kattDel{
	height:40vw;
	position: relative;
	width:100%;
	background-image: url('../img/Untitledcat.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color:#fff;
	font-size: 500%;
}


h1{
	padding-top:12%;
	text-align: center;
	color:black;
}
#temp{

	display:flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

main{
	background-color: #ffffff;
	width:100%;
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	grid-template-areas:
	"forstaContainer"
	"andraContainer";
}

main::before{
	content:'';
	display:block;
	width:0;
	padding-top:2%; /*height= 80% of width */
}

footer{
	background-color:#2F3136;
	height:150px;
	width:100%;
}

header{
	width:100%;
	height:70px;
	/*background-color:#2F3136;*/
	position: static;
	z-index:20;
}

#bildIcon{
	margin-top:5px;
	margin-bottom: 5px;
	height:60px;;
	width:108px;
	margin-left:30px;
	cursor:pointer;
}
#bar{font-size: 40px;top:0;bottom:0;margin-top:auto;margin-bottom:auto;margin-left: 3px;color:#e03622;text-decoration: none;font-weight: 600;}

#search {
	width: 100%;
	position: relative;
	display: flex;
}

.searchTerm {
	width: 100%;
	border: 3px solid #e03622;
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
}

#searchButton {
	width: 40px;
	height: 36px;
	border: 3px solid #e03622;
	background-color: #fff;
	text-align: center;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

#wrap{
	width: 30%;
	top:0;
	bottom:0;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: auto;
	margin-bottom: auto;
}
.menyKnappar{
	float:right;
	width:auto;
	top:0;
	bottom:0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left:30px;
	color:#e03622;
	transition: 0.3s;
	text-decoration: none;
	font-weight: 600;
}

.menyKnappar:hover{
	color:#8E2023;
}

#info{
	margin-left:auto;
	font-size: 40px;
}
#help{
	font-size: 40px;
}
#prickMeny{
	margin-right: 40px;
	font-size: 20px;
	cursor:pointer;
}

.rutor1, .rutor4{
	height:auto;
	width:auto;
	z-index: 100;
	margin-left: 4.5%;
	margin-right: 4.5%;
	font-size: 40px;
	text-align: center;

}

.rutor1::before, .rutor4::before{
	float:right;
	content:'';
	display:block;
	width:0;
	padding-top:60%;
}

.rutor2, .rutor3{
	margin:4.5%;
	height:auto;
	width:auto;
	z-index: 100;
	border-radius: 7px;
	transition:0.5s;
}

.rutor2:hover, .rutor3:hover{
	height:auto;
	width:auto;
	z-index: 100;
	margin:1%;
}

#forstaRutan1{
	background-color: #fff;
	grid-area:forstaRutan1;
	margin-top:4.5%;
	border-top-left-radius: 7px;
	border-top-right-radius:7px;
}

#forstaRutan2{
	grid-area:forstaRutan2;
	background-image: url('../img/example1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#forstaRutan3{
	grid-area:forstaRutan3;
	background-image: url('../img/example2.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#forstaRutan4{
	background-color: #fff;
	grid-area:forstaRutan4;
	margin-bottom:4.5%;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius:7px;
}

#andraRutan1{
	background-color: #fff;
	grid-area:andraRutan1;
	margin-top:4.5%;
	border-top-left-radius: 7px;
	border-top-right-radius:7px;
}

#andraRutan2{
	grid-area:andraRutan2;
	background-image: url('../img/example3.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#andraRutan3{
	grid-area:andraRutan3;
	background-image: url('../img/example4.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#andraRutan4{
	background-color: #fff;
	grid-area:andraRutan4;
	margin-bottom:4.5%;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius:7px;
}

.storaBilder{
	position:fixed;
	height:40vw;
	width:80%;
	top:0;
	bottom:0;
	right: 0;
	left: 0;
	margin:auto;
	display:none;
	z-index: 200;
}

#storBild1{
	background-image: url('../img/example1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#storBild2{
	background-image: url('../img/example2.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#storBild3{
	background-image: url('../img/example3.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#storBild4{
	background-image: url('../img/example4.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#prickMenyExtended{
	position: fixed;
	display: none;
	top:70px;
	left:0;
	bottom:0;
	right:30px;
	float:right;
	margin-left: auto;
	height:300px;
	width:200px;
	background-color: #fff;
	z-index: 120;

}

.stangKnapp{
	margin-left:100%;
	height:30px;
	width:30px;
	background-color:purple;
	z-index:300;
}

#menyBar{
	position: fixed;
	background-color:#2F3136;
	height:70px;;
	width:100%;
	z-index:110;
	display:flex;
}

#sideWindowLeft{
	position:fixed;
	top:0px;
	bottom:0px;
	margin-top:auto;
	margin-bottom: auto;
	margin-left:-20px;
	height:400px;
	width:50px;
	background-color:#2F3136;
	border-radius:25px;
	transition: 0.05s;
	z-index: 150;
	display: flex;

}
#signUp{
	top:0px;
	bottom:0px;
	margin-top:auto;
	margin-bottom: auto;
	margin-left:-20px;
	height:400px;
	width:40px;
	font-size: 20px;
	color:#fff;
	padding-top: 20px;
	text-align: center;
	display: none;
}

.nummer{
	width:60%;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
}

#chevronKnapp{
	top:auto;
	bottom:auto;
	margin-left:20px;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 40px;
	color:#fff;
}

#forstaContainer{
	position: static;
	width:57.29%;
	margin-bottom: 12.5px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	grid-area: forstaContainer;
	background-color: #2F3136;
	transition: 0.5s;
	border-radius: 7px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas:
	"forstaRutan1 forstaRutan2" /* it no work fix pls*/
	"forstaRutan4 forstaRutan3";
}

#forstaContainer::before{
	content: '';
	width:0%;
	display:block;

}

#andraContainer{
	position: static;
	width:57.29%;
	margin-bottom: 12.5px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	grid-area: andraContainer;
	background-color: #2F3136;
	transition: 0.5s;
	border-radius: 7px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-areas:
	"andraRutan2 andraRutan1" /* it no work fix pls*/
	"andraRutan3 andraRutan4";
}

#andraContainer::before{
	content: '';
	width:0%;
	display:block;
}


@media only screen and (max-width: 600px) {


	#kattDel{
		font-size: 200%;
	}
	.rutor1, .rutor4{
		height:auto;
		width:auto;
		z-index: 100;
		margin-left: 4.5%;
		margin-right: 4.5%;
		font-size: 20px;
		text-align: center;

	}


}
